In [2]:
name='sakshi'
x=10
y=3
z=3.14

In [2]:
del name

## operators
- Arithmetic Operators
- Assignment opertor
- Comparison 
- Logical
- Identity
- Membership

In [4]:
print(x +y)
print (x-y)
print(x*y)
print(x/y) #float doivison
print(x//y) # integer division
print(x%y) #remainder
print(x ** y) # exponential

13
7
30
3.3333333333333335
3
1
1000

In [5]:
a = x+ y #assignment
a += 1 # a=a+1
a -= 1
a *= 2
a /= 5
print(a)

5.2

comparison operator

In [3]:
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

conditional statements

In [4]:
#and , or , not 
x<y or y<10

True

In [5]:
not x>y

False

In [6]:
fruits=['Apple','Banana','Grapes']
print('Apple' in fruits)
print('Banana' in fruits)
print('Grapes' in fruits)
print('cherry' in fruits)

True
True
True
False

In [7]:
f=['Apple','banana', 'Grapes']

In [8]:
fruits==f

False

In [9]:
fruits is not f

True

In [10]:
fruits is f

False

In [11]:
x= 10
y=10
print(x==y)
print(y==x)

True
True

Input / Output

In [12]:
name= input ('Enter your name: ')

In [13]:
city= input('Enter your city name: ')
age = input('Enter your age: ')
print(name,city,age)

Sakshi Prayagraj 20

In [14]:
x = 10
print(type(x))
#convert x into float
x = float(x)
#convert x into float and assign it to x
print(x,type(x))
#convert x into string
x = str(x)
print(x,type(x))
#convert x into boolean
x = bool(x)
print(x,type(x))
x=str(x)
print(x,type(x))
# x= int (x ) this is not possible
print(x,type(x))

<class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>
True <class 'bool'>
True <class 'str'>
True <class 'str'>

In [15]:
x= int(input('Enter a number for a: '))
y = int(input('Enter a numeber for b: '))
print(x+y)

8

In [16]:
print(name)

Sakshi

In [17]:
print(name,age,city,sep=',')
# using it for the seperation with the common

Sakshi,20,Prayagraj

In [18]:
print(x)
print(y)

4
4

In [20]:
print(x, end=' ')#use the end for the space in the elements
print(y)

4 4

In [21]:
'I live in {city}'

'I live in {city}'

In [25]:
print(f' I live in { city }')

 I live in Prayagraj

In [26]:
print(f'x={x},y={y}')
print(f'x**y=> {x**y}')
print(f'x+y=> {x+y}')

x=4,y=4
x**y=> 256
x+y=> 8

In [27]:
print(f'{name}{len(name)}')
print(f'{name}{len(name)}')

Sakshi6
Sakshi6

In [28]:
print(f'{name:20}{len(name)}')
print(f'{city:30}{len(city)}')

Sakshi              6
Prayagraj                     9