# list
- indexed, ordered, mutable, allows, duplicate elements, heterogeneous, '[]', 'list()'
## tuple
- indexed, ordered, **imutable**, allows duplicate elements, heterogeneous, '()', 'set()'
### set 
- **unordered**, mutable, **does not allow duplicate elements**, hetegeneous, '{}', 'set()'
#### dictionary
- **unordered**, mutable, **does not allowduplicate keys**, heterogeneous, key:value pairs, { }, dict()

# list 
- creating
- indexing and slicing 
- methods(11 methods) 
- list comprehension

In [1]:
# creation
x =[1,2,3,4,5,6,]
name=['sakshi','lakshmi','chhavi','aditi']
mix=[1,'sakshi',3.14,'True']
nested=[[1,2,3],[4,5,6],[7,8,9]]
mt=[]
cloned=[1,2,3]*5 #repeate list 5 times
word='this is sparta'.split()
chars=list('Alexander')

In [2]:
print(x[0])
print(x[-1])
x[0]=100 # updating value at index 0

1
6

In [4]:
chars[:5]

['A', 'l', 'e', 'x', 'a']

In [5]:
chars[::-1]

['r', 'e', 'd', 'n', 'a', 'x', 'e', 'l', 'A']

- adding
 - append() - adds an element to the end of the list
 - extend() - add all elements of one list to another list
 - insert() - add an element at a specific index
- removing
 - remove()
 - pop()
 - clear()
- utility
 - count() 
 - index()
 - sort()
 - reverse()
 - copy()

In [7]:
#function can be directly accessed
# methods are linked with variable
x.append(6)
x.append(3)
print(x)

[100, 2, 3, 4, 5, 6, 6, 3, 6, 3]

In [8]:
a= [11,12,13]
x.extend(a)
print(x)

[100, 2, 3, 4, 5, 6, 6, 3, 6, 3, 11, 12, 13]

In [10]:
x.insert(5,100)
x.insert(6,500)
print(x)

[100, 2, 3, 4, 5, 100, 500, 6, 6, 3, 6, 3, 11, 12, 13]

In [16]:
l=[]
for i in range(1,10):
    a=input('Enter the number')
    l.append(a)
print(l)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [20]:
#remove
if '5' in l:
   l.remove(5)
print(l)

['1', '2', '3', '4', '6', '7', '8', '9']

In [22]:
l.remove('6') if '6' in l else print('6 not found')

6 not found

In [23]:
#pop
x = [1,2,3,4,5,6,7,8]

print(x.pop())
print(x.pop(2)) # remove is oposite of append and pop is a oposite of insert

8
3

In [24]:
# clear
l.clear()
print(l)

[]

In [25]:
del x

In [27]:
a = [1,2,3,1,1,2,2,2,1,1,2,1,15]
a.count(1)

6

In [28]:
name.sort()
print(name)

['aditi', 'chhavi', 'lakshmi', 'sakshi']

In [30]:
ord('s')

115

In [31]:
# fibonacci series
x=[0,1]
for i in range (10):
    x.append(x[-2]+x[-1])
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [24]:
#comprehension syntax= new list=[operation loop condition(if any)]
x=[1,2,3,4,5]
x2=[]
for i in x:
    s=i**2
    x2.append(s)
print(x)
print(x2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [3]:
names=['sakshi','lakshmi','chhavi','aditi']
fnames=[]
for nm in names:
    fnames.append(nm)
print(fnames)

['sakshi', 'lakshmi', 'chhavi', 'aditi']

In [34]:
a =[1,2,3,4,5,6,7,8,9,12,13,14,15]
y=[]
for i in a:
    if i%2==0:
        y.append(i)
print(y)

[2, 4, 6, 8, 12, 14]

In [1]:
x=[1,2,3,4,5,6,7,8,9,10,12]
xeven=[i for i in x if i%2==0]
print(xeven)

[2, 4, 6, 8, 10, 12]

In [4]:
inames=[nm.split()[-1] for nm in names]
print(inames)

['sakshi', 'lakshmi', 'chhavi', 'aditi']

In [2]:
x=['1','2','3','','4','5','6','','7']
x_clean=[int(i) for i in x if i.isnumeric()]
print(x_clean)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
files=['1.jpg','3.png','2.npg','4.tif','5.jpg','10.jpg']
jpg_files=[file for file in files if file.endswith('.jpg')]
png_files=[file for file in files if file.endswith('.png')]
print(jpg_files)
print(png_files)

['1.jpg', '5.jpg', '10.jpg']
['3.png']

In [11]:
y=[1,2,3,4,5,1,2,3,4,5,6,1,2,2,3,3,5,5,6,7,3,3,6,6,7,3,2,1,3,5]
odd_number=[int(i**3) for i in y if i%2!=0 ]
print(odd_number)

[1, 27, 125, 1, 27, 125, 1, 27, 27, 125, 125, 343, 27, 27, 343, 27, 1, 27, 125]