For loop  
syntax- for temporary variable in iterable
         statement 1
......
        statement 2

In [1]:
nums = [1,23,5,6,3,6,21,6,6]
for i in nums:
    print(i)
    print(i ** 2)

1
1
23
529
5
25
6
36
3
9
6
36
21
441
6
36
6
36

In [2]:
nums=[1,23,5,6,3,621,6,6]
for i in nums:
    print(i ** 2)

1
529
25
36
9
385641
36
36

In [3]:
name=['jhon','sakshi','lakshmi','chhavi']
for name in (name):
    print(name)

jhon
sakshi
lakshmi
chhavi

In [5]:
names=['jhon','sakshi','lakshmi','chhavi']
for idx, name in enumerate(names):
    print(name,idx)

jhon 0
sakshi 1
lakshmi 2
chhavi 3

In [6]:
x=[2,4,6,8,10]
y=[1,3,5,7,9]
z=[3,6,9,12,15]
for i,j,k in zip(x,y,z):
    print(i*j+k)

5
18
39
68
105

In [7]:
movies=['intersteller','the martian','gravity']
rating=[8.6,9.0,8.0]
for name , star in zip(movies, rating):
    print(f'{name:20}{star}⭐')

intersteller        8.6⭐
the martian         9.0⭐
gravity             8.0⭐

In [2]:
for nums in nums:
    print(nums ** 2)

1
529
25
36
9
36
441
36
36

break and continue

In [1]:
x=[1,2,2,3,2,2,1,2,2,3,0,4,5,1,2,4,5]
for i in x:
    if i==0:
        break
    print(i,end=' ')

1 2 2 3 2 2 1 2 2 3

In [2]:
for i in x:
    if i == 0:
        break
    print(i,end=' ')
else:
    print('loop completed')

1 2 2 3 2 2 1 2 2 3

In [3]:
x=[3,2,3,4,4,3,5,6,7,7]
for i in x:
    if i == 0:
        break
    print(i,end='.\n ')
else:
    print('loop completed')

3.
 2.
 3.
 4.
 4.
 3.
 5.
 6.
 7.
 7.
 loop completed

In [4]:
num = 7 # for user input = int(input('Enter a number:'))
for i in range(2,num):
    if num%i==0: #print(f'{num}%{i}={num % i}')
        print('not prime')
        break
else:
    print('Prime number')

Prime number

In [7]:
x=[1,2,3,None,5,1,None,2,23,None,3,1,2,2,3,None,3]
for num in x:
    if num is None:
        continue
    print(num , end = ' ')

1 2 3 5 1 2 23 3 1 2 2 3 3

In [8]:
for num in x:
    if num is not None:
        print(num,end=' ')

1 2 3 5 1 2 23 3 1 2 2 3 3

In [13]:
odd_sum = 0
for num in x:
    if num is not None and num%2!=0:
        odd_sum += num
print(odd_sum)

43

INFINITE LOOP

Data Structure in Python  
- strings
- list
- dic
- tuple
- set