In [1]:
#tuple
x=(1,2,3,4,5)
print(x,type(x))

(1, 2, 3, 4, 5) <class 'tuple'>

In [2]:
#tuple is default data structure of python
y=1,2,3,4,4 #tuple packing
print(y)

(1, 2, 3, 4, 4)

In [4]:
#empty tuple
a=()
#tuple unpacking
z=(2,4,5)
a,b,c = z

In [5]:
x=(1,3,2,4,5,6,3,7,4,5,6)

In [6]:
y, *z =x #tuple unpacking
print(y,z)
a,b,c, *d =x
print(a,b,c,d)
a,*b,c,d=x
print(a,b,c,d)

1 [3, 2, 4, 5, 6, 3, 7, 4, 5, 6]
1 3 2 [4, 5, 6, 3, 7, 4, 5, 6]
1 [3, 2, 4, 5, 6, 3, 7, 4] 5 6

In [7]:
x=(1,2,3,1,1,1,2,2,2,2,1,1,23)
print(x.count(2))
print(x.count(1))
print(x.index(2))

5
6
1

In [8]:
xl=list(x) #tuple to list
xt= tuple(xl) #list to tuple
print(xl,xt)

[1, 2, 3, 1, 1, 1, 2, 2, 2, 2, 1, 1, 23] (1, 2, 3, 1, 1, 1, 2, 2, 2, 2, 1, 1, 23)

Set -

In [9]:
a={1,2,3,1,2,3}
print(a,type(a))

{1, 2, 3} <class 'set'>

In [10]:
a.add(10)
a.add(3)
a.add(6)
print(a)

{1, 2, 3, 6, 10}

In [11]:
a.discard(2) # it is not gives error as compare to remove
a.discard(10)
print(a)

{1, 3, 6}

In [12]:
x={1,2,3,4,5}
y={4,5,6,7,8}
z={1,2,3}
a={11,12,13}

In [13]:
y.union(x) #x|y

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
x.intersection(y) # or x&y

{4, 5}

In [15]:
x.difference(y) #or x-y

{1, 2, 3}

In [16]:
x.symmetric_difference(y) #or x^y

{1, 2, 3, 6, 7, 8}

In [17]:
z .issubset(z) # or z>=x

True

In [18]:
x.issuperset(a) #or x>=z

False

In [19]:
x.isdisjoint(a)

True

In [20]:
for i in x:
    print(x)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [3]:
x2=[i**2 for i in x]
print(x2)

[1, 4, 9, 16, 25]

In [1]:
x=[1,2,3,4,5,6,7,8,9,10,12]
xeven=[i for i in x if i%2==0]
print(xeven)

[2, 4, 6, 8, 10, 12]